.cookie-banner-section {
  background: #e8e8e8;
  width: 100%;
  max-width: 375px;
  padding: 40px 16px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: none;
  z-index: 100;
  display: none;

  @include media(desktop) {
    max-width: 1440px;
    padding: 40px 108px;
    justify-content: space-between;
    align-items: start;
  }
}

.cookie-banner-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57143;
  text-align: center;
  color: #0b0e13;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    max-width: 808px;
    margin-bottom: 0;
  }
}

.cookie-banner-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    display: flex;
    flex-direction: row;
  }
}

.cookie-accept-btn {
  border-radius: 8px;
  padding: 16px 32px;
  background: #2960a7;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  max-width: 343px;

  @include media(desktop) {
    width: 184px;
  }
}

.cookie-decline-btn {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 16px 32px;
  background: transparent;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #000;
  width: 100%;
  max-width: 343px;

  @include media(desktop) {
    width: 184px;
  }
}

.show-cookie-banner {
  display: block;

  @include media(desktop) {
    display: flex;
  }
}
