.footer {
  background: #2f2f2f;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  @include media(desktop) {
    padding: 0 108px;
  }
}

.footer-nav {
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 60px;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: end;
    gap: 74px;
  }
}

.footer-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57143;
  text-align: center;
  color: #fff;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.75;
  }

  &:hover,
  &:focus {
  }
}

.footer-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57143;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
  }
}
