.header {
  background: #2f2f2f;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding: 12px 0;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(desktop) {
    padding: 0 108px;
    justify-content: start;
  }
}

.nav {
  display: flex;
  align-items: center;

  @include media(desktop) {
    width: 100%;
    justify-content: space-between;
  }
}

.nav-list {
  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

.header-logo-link {
  width: 32px;
  height: 40px;

  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
  }
}

.nav-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list-link {
  @include media(desktop) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    transition: all 0.3s ease-in-out;

    &:hover,
    &.active {
      color: #94ad90;
    }
  }
}

.nav-list-link.active {
  color: #94ad90;
}

.nav-btn {
  background-color: transparent;
  width: 40px;
  height: 40px;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  background-color: transparent;
  width: 40px;
  height: 40px;

  @include media(desktop) {
    display: none;
  }
}
