.library-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.library-container {
  padding: 0;
}

.library-content-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.library-text-wrapper {
  padding: 0 16px;

  @include media(desktop) {
    padding-left: 88px;
    padding-right: 0;
  }
}

.library-title-wrapper {
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 80px;
  }
}

.library-title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.36364;
  color: #2f2f2f;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 32px;
    line-height: 1.4375;
    margin-bottom: 32px;
  }
}

.library-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57143;
  color: #505050;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.library-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.library-list-item {
  display: flex;
  align-items: start;
  gap: 12px;
}

.library-item-number {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #505050;
}

.library-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57143;
  color: #505050;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
  }
}
