.membership-section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.membership-title-wrapper {
  margin-bottom: 40px;

  @include media(desktop) {
    margin-bottom: 80px;
  }
}

.membership-title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.36364;
  color: #2f2f2f;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 32px;
    line-height: 1.4375;
  }
}

.membership-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57143;
  color: #505050;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.membership-list {
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.membership-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid rgba(80, 80, 80, 0.4);
  border-right: 1px solid rgba(80, 80, 80, 0.4);
  border-top: 1px solid rgba(80, 80, 80, 0.4);
  padding: 32px 24px;
  min-height: 112px;

  &:last-child {
    border-bottom: 1px solid rgba(80, 80, 80, 0.4);
  }

  @include media(desktop) {
    max-width: 421px;
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;

    &:nth-child(1) {
      border: 1px solid rgba(80, 80, 80, 0.4);
      border-radius: 8px 0 0 0;
    }

    &:nth-child(2) {
      border-bottom: 1px solid rgba(80, 80, 80, 0.4);
      border-right: 1px solid rgba(80, 80, 80, 0.4);
      border-top: 1px solid rgba(80, 80, 80, 0.4);
    }

    &:nth-child(3) {
      border-bottom: 1px solid rgba(80, 80, 80, 0.4);
      border-right: 1px solid rgba(80, 80, 80, 0.4);
      border-top: 1px solid rgba(80, 80, 80, 0.4);
      border-radius: 0 8px 0 0;
    }

    &:nth-child(4) {
      border-bottom: 1px solid rgba(80, 80, 80, 0.4);
      border-left: 1px solid rgba(80, 80, 80, 0.4);
      border-right: 1px solid rgba(80, 80, 80, 0.4);
      border-radius: 0 0 0 8px;
    }

    &:nth-child(5) {
      border-bottom: 1px solid rgba(80, 80, 80, 0.4);
      border-right: 1px solid rgba(80, 80, 80, 0.4);
    }

    &:nth-child(6) {
      border-bottom: 1px solid rgba(80, 80, 80, 0.4);
      border-right: 1px solid rgba(80, 80, 80, 0.4);
      border-radius: 0 0 8px 0;
    }
  }
}

.membership-item-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57143;
  text-transform: uppercase;
  color: #505050;
  max-width: 259px;

  @include media(desktop) {
    max-width: 337px;
    font-size: 16px;
    line-height: 1.5;
  }
}
