<section class="section clients-section" id="clients">
  <div class="container clients-container">
    <div class="clients-title-wrapper">
      <h2 class="clients-title">Pause-Friendly by Design</h2>
      <p class="clients-text">No productivity required. Just existence.</p>
    </div>
    <ul class="clients-list">
      <li class="clients-list-item">
        <p class="clients-item-text">Writers & Creators facing burnout</p>
        <svg class="clients-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-pen"></use>
        </svg>
      </li>
      <li class="clients-list-item">
        <p class="clients-item-text">
          Developers seeking non-alerted headspace
        </p>
        <svg class="clients-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-tag"></use>
        </svg>
      </li>
      <li class="clients-list-item">
        <p class="clients-item-text">Students navigating dopamine cycles</p>
        <svg class="clients-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-student"></use>
        </svg>
      </li>
      <li class="clients-list-item">
        <p class="clients-item-text">Designers resetting creative overload</p>
        <svg class="clients-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-letter"></use>
        </svg>
      </li>
      <li class="clients-list-item">
        <p class="clients-item-text">
          Remote Workers between cognitive sprints
        </p>
        <svg class="clients-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-coffee"></use>
        </svg>
      </li>
      <li class="clients-list-item">
        <p class="clients-item-text">Product Teams practicing async wellness</p>
        <svg class="clients-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-users"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
