<section class="section community-section" id="community">
  <div class="container community-container">
    <div class="community-content-wrapper">
      <div class="community-title-wrapper">
        <h2 class="community-title">Community Voices</h2>
        <p class="community-text">People Who Chose to Be Idle</p>
      </div>
      <ul class="community-list">
        <li class="community-slide">
          <p class="community-item-text">
            “This is not a break timer. It’s spiritual interface detox. 3 mins
            and I return differently.”
          </p>
          <div class="community-avatar-wrapper">
            <img
              class="community-img"
              src="./img/community/community-amira.png"
              alt="Avatar"
              width="60"
              height="60"
              loading="lazy"
            />
            <div class="community-name-wrapper">
              <p class="community-name">Amira J.</p>
              <p class="community-profession">Game Designer</p>
            </div>
          </div>
        </li>
        <li class="community-slide">
          <p class="community-item-text">
            “The only app that actually reduces screen guilt.”
          </p>
          <div class="community-avatar-wrapper">
            <img
              class="community-img"
              src="./img/community/community-thomas.png"
              alt="Avatar"
              width="60"
              height="60"
              loading="lazy"
            />
            <div class="community-name-wrapper">
              <p class="community-name">Thomas R.</p>
              <p class="community-profession">Freelancer</p>
            </div>
          </div>
        </li>
        <li class="community-slide">
          <p class="community-item-text">
            “I use idlekime with my whole team. It’s part of our async culture
            now.”
          </p>
          <div class="community-avatar-wrapper">
            <img
              class="community-img"
              src="./img/community/community-petra.png"
              alt="Avatar"
              width="60"
              height="60"
              loading="lazy"
            />
            <div class="community-name-wrapper">
              <p class="community-name">Petra K.</p>
              <p class="community-profession">Product Lead</p>
            </div>
          </div>
        </li>
        <li class="community-slide">
          <p class="community-item-text">
            “I finally found something that helped me pause without demanding a
            meditation mindset.”
          </p>
          <div class="community-avatar-wrapper">
            <img
              class="community-img"
              src="./img/community/community-lila.png"
              alt="Avatar"
              width="60"
              height="60"
              loading="lazy"
            />
            <div class="community-name-wrapper">
              <p class="community-name">Lila S.</p>
              <p class="community-profession">ADHD Creator</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="community-swiper-wrapper">
        <div class="community-swiper-container">
          <ul class="swiper-wrapper">
            <li class="swiper-slide community-slide">
              <p class="community-item-text">
                “This is not a break timer. It’s spiritual interface detox. 3
                mins and I return differently.”
              </p>
              <div class="community-avatar-wrapper">
                <img
                  class="community-img"
                  src="./img/community/community-amira.png"
                  alt="Avatar"
                  width="60"
                  height="60"
                  loading="lazy"
                />
                <div class="community-name-wrapper">
                  <p class="community-name">Amira J.</p>
                  <p class="community-profession">Game Designer</p>
                </div>
              </div>
            </li>
            <li class="swiper-slide community-slide">
              <p class="community-item-text">
                “The only app that actually reduces screen guilt.”
              </p>
              <div class="community-avatar-wrapper">
                <img
                  class="community-img"
                  src="./img/community/community-thomas.png"
                  alt="Avatar"
                  width="60"
                  height="60"
                  loading="lazy"
                />
                <div class="community-name-wrapper">
                  <p class="community-name">Thomas R.</p>
                  <p class="community-profession">Freelancer</p>
                </div>
              </div>
            </li>
            <li class="swiper-slide community-slide">
              <p class="community-item-text">
                “I use idlekime with my whole team. It’s part of our async
                culture now.”
              </p>
              <div class="community-avatar-wrapper">
                <img
                  class="community-img"
                  src="./img/community/community-petra.png"
                  alt="Avatar"
                  width="60"
                  height="60"
                  loading="lazy"
                />
                <div class="community-name-wrapper">
                  <p class="community-name">Petra K.</p>
                  <p class="community-profession">Product Lead</p>
                </div>
              </div>
            </li>
            <li class="swiper-slide community-slide">
              <p class="community-item-text">
                “I finally found something that helped me pause without
                demanding a meditation mindset.”
              </p>
              <div class="community-avatar-wrapper">
                <img
                  class="community-img"
                  src="./img/community/community-lila.png"
                  alt="Avatar"
                  width="60"
                  height="60"
                  loading="lazy"
                />
                <div class="community-name-wrapper">
                  <p class="community-name">Lila S.</p>
                  <p class="community-profession">ADHD Creator</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="controls">
          <button
            class="arrow-btn"
            id="communityLeftArrow"
            aria-label="Previous slide"
          >
            <svg class="arrow-icon" width="56" height="32">
              <use href="./img/sprite.svg#icon-left-arrow"></use>
            </svg>
          </button>
          <button
            class="arrow-btn"
            id="communityRightArrow"
            aria-label="Next slide"
          >
            <svg class="arrow-icon" width="56" height="32">
              <use href="./img/sprite.svg#icon-right-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
