<section class="section concept-section" id="concept">
  <div class="container concept-container">
    <div class="concept-title-wrapper">
      <h2 class="concept-title">
        The Modern Brain Wasn’t Built for Infinite Scroll
      </h2>
      <p class="concept-text">
        Our minds are collapsing under alert fatigue, multitasking pressure, and
        dopamine loops. idlekime is not a productivity hack — it’s a quiet
        resistance to overload.<br />
        We build intentional digital “pause rituals” that cleanse your mental
        cache and reset attention cycles.<br />
        No ads. No algorithms. No expectations. Just pure, conscious idleness.
      </p>
    </div>
    <ul class="concept-list">
      <li class="concept-list-item">
        <svg class="concept-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-science"></use>
        </svg>
        <p class="concept-item-text">Backed by neuroscientists.</p>
      </li>
      <li class="concept-list-item">
        <svg class="concept-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-lotus"></use>
        </svg>
        <p class="concept-item-text">Designed by interface monks.</p>
      </li>
      <li class="concept-list-item">
        <svg class="concept-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-heart"></use>
        </svg>
        <p class="concept-item-text">Loved by people who think too much.</p>
      </li>
    </ul>
  </div>
</section>
