<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <div class="contact-content-wrapper">
      <div class="contact-list-wrapper">
        <div class="contact-title-wrapper">
          <h2 class="contact-title">Collaborate, License, or Just Say Hi</h2>
          <p class="contact-text">
            We work with orgs looking to embed pause logic in:
          </p>
        </div>
        <ul class="contact-list">
          <li class="contact-list-item">
            <p class="contact-item-text">SaaS tools</p>
          </li>
          <li class="contact-list-item">
            <p class="contact-item-text">Health apps</p>
          </li>
          <li class="contact-list-item">
            <p class="contact-item-text">Mindful tech hardware</p>
          </li>
          <li class="contact-list-item">
            <p class="contact-item-text">Education environments</p>
          </li>
        </ul>
      </div>
      <ul class="contact-address-list">
        <li class="contact-address-list-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-email"></use>
          </svg>
          <a
            class="contact-address-item-text"
            href="mailto:info@idlekime.site
        "
            >info@idlekime.site
          </a>
        </li>
        <li class="contact-address-list-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-pin"></use>
          </svg>
          <p class="contact-address-item-text">Remote-first, Silence-rooted</p>
        </li>
      </ul>
    </div>
  </div>
</section>
