<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a class="header-logo-link" href="./">
        <img src="./img/header/logo.png" alt="Logo" width="32" height="40" />
      </a>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#concept">Concept</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#zones">Pause Zones</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#clients">Who It’s For</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#rest"
            >Digital Rest Index</a
          >
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#products">Products</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#research">Research</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#community">Community</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="nav-btn" type="button" aria-label="Open mobile menu">
      <svg class="menu-icon" width="40" height="40">
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <button class="close-btn" type="button" aria-label="Close mobile menu">
      <svg class="close-icon" width="40" height="40">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</header>
