<section class="section library-section" id="library">
  <div class="container library-container">
    <div class="library-content-wrapper">
      <div class="library-text-wrapper">
        <div class="library-title-wrapper">
          <h2 class="library-title">A UX Library of Built-In Calm</h2>
          <p class="library-text">
            Built for designers who care about what not to add.
          </p>
        </div>
        <ul class="library-list">
          <li class="library-list-item">
            <span class="library-item-number">01.</span>
            <p class="library-item-text">
              Invisible CTA — Buttons that dissolve after success
            </p>
          </li>
          <li class="library-list-item">
            <span class="library-item-number">02.</span>
            <p class="library-item-text">
              No-Scroll Modal UX — Soft constraints to encourage finish
            </p>
          </li>
          <li class="library-list-item">
            <span class="library-item-number">03.</span>
            <p class="library-item-text">
              Delayed Response Microinteractions — Pace over speed
            </p>
          </li>
          <li class="library-list-item">
            <span class="library-item-number">04.</span>
            <p class="library-item-text">
              Friction Tunnels — Flow-breaking gently, not interrupting
            </p>
          </li>
          <li class="library-list-item">
            <span class="library-item-number">05.</span>
            <p class="library-item-text">
              Empty by Design — Interfaces with space and intention
            </p>
          </li>
        </ul>
      </div>
      <picture>
        <source
          srcset="./img/library/library-bg-desk.jpg"
          media="(min-width: 1440px)"
          width="814"
          height="458"
        />
        <source
          srcset="./img/library/library-bg-mob.jpg"
          width="375"
          height="211"
        />
        <img
          class="library-bg-img"
          src="./img/library/library-bg-mob.jpg"
          alt="Photo of nature"
          width="375"
          height="211"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
