<section class="section membership-section" id="membership">
  <div class="container membership-container">
    <div class="membership-title-wrapper">
      <h2 class="membership-title">Support the Pause Movement</h2>
      <p class="membership-text">Membership Benefits</p>
    </div>
    <ul class="membership-list">
      <li class="membership-list-item">
        <p class="membership-item-text">Early access to new pause modes</p>
        <svg class="membership-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-checkmark"></use>
        </svg>
      </li>
      <li class="membership-list-item">
        <p class="membership-item-text">Private forum + events</p>
        <svg class="membership-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-checkmark"></use>
        </svg>
      </li>
      <li class="membership-list-item">
        <p class="membership-item-text">First to try lab tools</p>
        <svg class="membership-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-checkmark"></use>
        </svg>
      </li>
      <li class="membership-list-item">
        <p class="membership-item-text">Pause Protocol Certification</p>
        <svg class="membership-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-checkmark"></use>
        </svg>
      </li>
      <li class="membership-list-item">
        <p class="membership-item-text">Quarterly mental friction reports</p>
        <svg class="membership-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-checkmark"></use>
        </svg>
      </li>
      <li class="membership-list-item">
        <p class="membership-item-text">
          Exclusive calming audio sessions & playlists
        </p>
        <svg class="membership-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-checkmark"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
