<section class="section products-section" id="products">
  <div class="container products-container">
    <div class="products-title-wrapper">
      <h2 class="products-title">
        Tools to Bring Stillness Into Daily Systems
      </h2>
      <p class="products-text">
        All tools respect privacy. No behavior monetization. Only voluntary data
        used.
      </p>
    </div>
    <ul class="products-list">
      <li class="products-list-item">
        <svg class="products-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-chrome"></use>
        </svg>
        <p class="products-item-text">
          idlekime Chrome Extension — Auto-suggest pause zones after tab
          overload
        </p>
      </li>
      <li class="products-list-item">
        <svg class="products-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-pause"></use>
        </svg>
        <p class="products-item-text">
          Pause API — For teams to embed silence triggers inside apps
        </p>
      </li>
      <li class="products-list-item">
        <svg class="products-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-robot"></use>
        </svg>
        <p class="products-item-text">
          Slack Silence Bot — Nudges micro-pauses during message waves
        </p>
      </li>
      <li class="products-list-item">
        <svg class="products-icon" width="40" height="40">
          <use href="./img/sprite.svg#icon-switch"></use>
        </svg>
        <p class="products-item-text">
          Focus-Switch Webhook — Auto-pause between project swaps
        </p>
      </li>
    </ul>
  </div>
</section>
