<section class="section research-section" id="research">
  <div class="container research-container">
    <div class="research-title-wrapper">
      <h2 class="research-title">Stillness, by Data</h2>
      <p class="research-text">Featured Papers & Collaborations:</p>
    </div>
    <ul class="research-list">
      <li class="research-list-item">
        <img
          class="research-img"
          src="./img/research/research-img1.png"
          alt="Photo of nature"
          width="292"
          height="300"
          loading="lazy"
        />
      </li>
      <li class="research-list-item">
        <p class="research-item-text">
          “Cognitive Decay from Continuous Stimulation” – idlekime Labsї
        </p>
      </li>
      <li class="research-list-item">
        <img
          class="research-img"
          src="./img/research/research-img2.png"
          alt="Photo of nature"
          width="292"
          height="300"
          loading="lazy"
        />
      </li>
      <li class="research-list-item">
        <p class="research-item-text">
          “Dopamine Loops in Shortform UX” – With UI Neurosociety
        </p>
      </li>
      <li class="research-list-item">
        <p class="research-item-text">
          “Patterns of Mental Reentry Post Pause” – MIT Interface Lab
        </p>
      </li>
      <li class="research-list-item">
        <img
          class="research-img"
          src="./img/research/research-img3.png"
          alt="Photo of nature"
          width="292"
          height="300"
          loading="lazy"
        />
      </li>
      <li class="research-list-item">
        <p class="research-item-text">
          “White Noise vs. Black Space in Design Reset”
        </p>
      </li>
      <li class="research-list-item">
        <img
          class="research-img"
          src="./img/research/research-img4.png"
          alt="Photo of nature"
          width="292"
          height="300"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
